/*    header style    */

header{
    height: 90px;
    width: 100%;
    background-color: rgb(238, 210, 168);
    border-bottom: 0.5px solid rgb(0, 0, 0);
    z-index: 10;
    margin: 0;
}

.logo{
    width: 5%;
    min-width: 70px;
    margin: 8px 0 0 40px;
    border-radius: 50px;
}

.menu{
    width: 25%;
    min-width: 350px;
    margin: 20px 0 0 40px;
}

.menu li{
    display: inline;
    padding: 0 8px 0 8px;
}

.menu a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover{
    color: white;
}



/* main style */

main{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("./images/banner.png");
    background-position: top;
    background-size: 100%;

}

h1{
    font-size: 2.2em;
    text-align: left;
    color: rgb(238, 210, 168);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

p{
    text-align: right;
    font-size: 1.2em;
    font-style: italic;
    color: rgb(238, 210, 168);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

/* colors section*/

.colors h3{
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(238, 210, 168);
}

.colorbox{
    width: 30px;
    height: 30px;
    background-color: aqua;
}